@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_after {
    @apply after:content-['hello'] after:bg-gradient-to-r from-[rgb(189,32,32)] to-blue_1 after:absolute after:top-0 after:left-0 after:h-full after:w-full after:opacity-60;
  }
  .navbar_ul li a {
    @apply text-aliceblue no-underline p-4  font-normal;
  }
  .btn {
    @apply no-underline border-none outline-hidden text-aliceblue font-bold text-[12px] py-[20px] px-[40px] rounded;
  }
  .btn-smart {
    @apply bg-red-600;
  }
  .row {
    @apply w-full flex flex-wrap;
  }
  .container{
    @apply w-screen my-0 mx-auto top-40
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

.p-25 {
  padding: 25px;
}

.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333%;
}

.about_image {
  width: 100%;
  overflow: hidden;
  height: 30rem;
}
.about_image img {
  width: 80%;
  height: 100%;
}
.shop {
  width: 100%;
  background: url("images/food_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
}
.shop_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 50vh;
  color: #fff;
}
.shop_text h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
}
.shop_btn {
  margin-top: 35px;
}
.clients {
  width: 100%;
  padding: 80px 0;
  background: url("images/ghorme_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
.client {
  text-align: center;
}
.client h1 {
  font-size: 45px;
}
.client p {
  font-style: 180x;
  margin-top: 10px;
}
.prices {
  width: 100%;
  padding: 80px 0;
}
.price_image {
  width: 100%;
}
.price_image img {
  width: 250px;
}
.price_heading {
  margin-top: 25px;
  font-size: 25px;
}
.price_text {
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
}
.price_rs {
  font-size: 25px;
  margin-top: 15px;
}
