@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_after {
    @apply after:content-['hello'] after:bg-gradient-to-r from-[rgb(189,32,32)] to-blue_1 after:absolute after:top-0 after:left-0 after:h-full after:w-full after:opacity-60;
  }
  .navbar_ul li a {
    @apply text-aliceblue no-underline p-4  font-normal;
  }
  .btn {
    @apply no-underline border-none outline-hidden text-aliceblue font-bold text-[12px] py-[20px] px-[40px] rounded;
  }
  .btn-smart {
    @apply bg-red-600;
  }
  .row {
    @apply w-full flex flex-wrap;
  }
  .container {
    @apply w-screen my-0 mx-auto top-40 flex  justify-center items-center;
  }
  .about_image {
    @apply overflow-hidden w-full;
    height: 480px;
  }
  .client {
    @apply text-center;
  }
  .client h1 {
    @apply text-[45px];
  }
  .client p {
    @apply mt-[10px];
  }
  .prices {
    @apply w-full py-20 px-0;
  }
  .price_image {
    @apply w-full;
  }
  .price_image img {
    @apply w-[250px];
  }
  .price_heading {
    @apply mt-[25px] text-[25px];
  }
  .price_text {
    @apply mt-5 text-[#888888] text-[18px];
  }
  .price_rs {
    @apply text-xl mt-[15px];
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
