@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
/* .banner { */
/* background: url("./images/food_1.jpg"); */
/* background-attachment: fixed; */
/* height: 100vh; */
/* width: 100%; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* position: relative; */
/* } */
.bgheader {
  background: url("./images/food_1.jpg");
  /* background-attachment: fixed; */
}
/* .banner::after { */
  /* content: ""; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* height: 100%; */
  /* width: 100%; */
  /* background: linear-gradient(to top, red, blue); */
  /* opacity: 0.4; */
/* } */
/* .banner_content {
  display: flex;
  align-items: center;
  height: 100vh;
  color: aliceblue;
} */
/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 10rem;
} */
/* .banner_text {
  position: relative;
  z-index: 1000;
  width: 50rem;
} */
/* .banner_text h3 {
  font-size: 4rem;
} */
/* .banner_text p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 20px;
} */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.navbar_text {
  display: flex;
  height: 60px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  /* background-color: #fff; */
}
.logo {
  width: 40%;
  color: aliceblue;
}
.navbar-ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar-ul li a {
  color: aliceblue;
  text-decoration: none;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
}
/* .banner_btn {
  margin-top: 35px;
} */
.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.btn-smart {
  background-color: rgb(255, 69, 79);
}
.about {
  padding: 80px 0;
}
.p-25 {
  padding: 25px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333%;
}
.about h3 {
  color: rgba(37, 37, 37, 0.733);
  font-size: 30px;
  font-weight: 700;
}
.about h1 {
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  margin-bottom: 15px;
}
.about p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}
.about_btn {
  margin-top: 35px;
}
.about_image {
  width: 100%;
  overflow: hidden;
  height: 30rem;
}
.about_image img {
  width: 80%;
  height: 100%;
}
.shop {
  width: 100%;
  background: url("images/food_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
}
.shop_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 50vh;
  color: #fff;
}
.shop_text h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
}
.shop_btn {
  margin-top: 35px;
}
.clients {
  width: 100%;
  padding: 80px 0;
  background: url("images/ghorme_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
.client {
  text-align: center;
}
.client h1 {
  font-size: 45px;
}
.client p {
  font-style: 180x;
  margin-top: 10px;
}
.prices {
  width: 100%;
  padding: 80px 0;
}
.price_image {
  width: 100%;
}
.price_image img {
  width: 250px;
}
.price_heading {
  margin-top: 25px;
  font-size: 25px;
}
.price_text {
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
}
.price_rs {
  font-size: 25px;
  margin-top: 15px;
}
